<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="initial-scale=1.0,maximum-scale=1.0,user-scalable=no">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>WebLog</title>
</head>
<body>
  <script src="~/Scripts/jquery-2.1.4.js"></script>
  <script src="http://code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
  <script>
    $(document).ready(function () {
    });
  </script>
  <link href="~/Content/main.css" rel="stylesheet" />
  <div id="wrapper">
    <div id="pageWrapper">
      @RenderBody()
    </div>
  </div>  
</body>
</html>